.chessboard {
  list-style: none;
  /* padding: 1rem; */
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 42px);
  grid-template-rows: repeat(8, 42px);
  justify-content: center;
}

@media screen and (min-width: 580px) {
  .chessboard {
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
  }
}

@media screen and (min-width: 800px) {
  .chessboard {
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
  }
}
